@charset "ISO-8859-1";
/*Breakpoints*/
/*Cpu*/
@media screen and (min-width:1050px){
	body{
		height:650px;
		overflow-y:hidden;
		background:linear-gradient(to bottom,#F8F8FF,#90EE90);
	}
	#blockSignUp{
		position:relative;
		width:60%;
		height:85%;
		background:white;
		left:20%;
		top:0%;
		opacity:0;
		transition:opacity 1s,top 1s;
		border-radius:10px;
		box-shadow:0px 1px 5px black;
	}
	#imgSignUp{
		position:relative;
		left:5%;
		top:10%;
		width:100px;
		height:100px;
		display:inline-block;
	}
	#titleSignUp{
		position:relative;
		left:15%;
		font-size:25pt;
		color:white;
		text-shadow:0px 0px 3px black;
		font-weight:bold;
		font-family:verdana;
		top:-25%;
	}
	#blockTitle{
		width:100%;
		height:20%;
		background:#D2691E;
		box-shadow:0px 1px 4px black;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		margin-bottom:5%;
	}
	/*Formatar os inputs*/	
	.inputAlone{
		position:relative;
		left:0%;
		top:0%;
		width:71%;
		height:10%;
		font-size:12pt;
		background:linear-gradient(to left bottom,#F8F8FF,#FFFAFA);
		border:2px solid #363636;
		border-radius:5px;
		padding-left:2%;
		transition:border 0.5s,background 0.5s;
	}
	.inputAlone:focus {
	  outline:none;
	  border-bottom:2px solid #00FF7F;
	  border-left:2px solid #00FF7F;
	  border-right:2px solid #00FF7F;
	  border-top:2px solid #FFFAFA;
	  border-radius:5px;
	}
	.inputDouble{
		position:relative;
		left:0%;
		top:0%;
		width:120%;
		height:10%;
		font-size:12pt;
		background:linear-gradient(to left bottom,#F8F8FF,#FFFAFA);
		border:2px solid #363636;
		border-radius:5px;
		padding-left:2%;
		transition:border 0.5s,background 0.5s;
	}
	.inputDouble:focus {
	  outline:none;
	  border-bottom:2px solid #00FF7F;
	  border-left:2px solid #00FF7F;
	  border-right:2px solid #00FF7F;
	  border-top:2px solid #FFFAFA;
	  border-radius:5px;
	}
	.labelInput{
		position:relative;
		font-size:15pt;
		font-family:arial;
	}
	.displayInline{
		display:inline-block;
		position:relative;
		padding-left:2%;
		margin-left:10%;
		margin-bottom:1%;
	}
	.displayBlock{
		position:relative;
		padding-left:2%;
		margin-left:10%;
		margin-bottom:1%;
	}
	
	/*Fim -----------------*/
	#buttonRegister{
		position:relative;
		left:82%;
		top:-50%;
		width:15%;
		height:15%;
		background:#90EE90;
		border-radius:5px;
		transition:background 0.5s,color 0.3s;
	}
	#buttonRegister:hover{
		background:#D2691E;
		cursor:pointer;
		color:#FFFAFA;
	}
	#textRegister{
		position:relative;
		left:14%;
		font-size:14pt;
		top:35%;	
		font-family:Andale Mono, monospace;	
	}
}
/*Tablets*/
@media screen and (min-width:768px) and (max-width:1049px) and (orientation:portrait){
	
}
@media screen and (min-width:768px) and (max-width:1049px) and (orientation:landscape){
	
}
/*Celulares*/
@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape){
	
}
@media screen and (min-width:320px) and (max-width:767px) and (orientation:portrait){
	
}

/*@media screen and (min-width:400px) and (max-width:420px) and (orientation:portrait){}*/
