@charset "ISO-8859-1";
body{
	height:650px;
	overflow-y:hidden;
	background:linear-gradient(to bottom,#F8F8FF,#90EE90);
}
#blockSignUp{
	position:relative;
	width:60%;
	height:80%;
	background:#FFFAFA;
	left:20%;
	top:5%;
	border-radius:10px;
}